<p id="notice"><%= notice %></p>

<br>

<!--<h2>Messages</h2>-->
<%#= render 'message', Message: @message %>


<p>
  <strong>Title:</strong>
  <%= @message.title %>

  <br>
  <br>

  <strong>Content:</strong>
  <%= @message.content %>
  <br>
</p>


<br>


<!--<%#= link_to 'Edit', edit_topic_message_path([message.topic, message]) %> |-->
<%#= link_to 'Back', topic_path(@topic) %>